@import '../../utils/colors.scss';

.navbar {
  display: flex;
  height: 50px;
  justify-content: center;
  background-color: white;
  width: 100%;
  padding: 5px;

  &__header {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
  }

  &__login {
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
  }
  &__search {
    display: flex;
    align-items: center;
    width: 200px;
    margin-left: 30px;
    position: relative;
    &-input {
      background-color: $background-color;
      border-radius: 6px;
      border: 1px solid $font-color;
      &::placeholder {
        font-size: 10px;
      }
    }
    svg {
      position: absolute;
      left: 10px;
      width: 15px;
      height: 15px;
      fill: $font-color;
    }
  }
  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.container {
  width: 1140px;
  display: flex;
  align-items: center;
}


@media (max-width: 600px) {
  .navbar {
    &__header {
      font-size: 1rem;
    }
    &__search {
      width: 150px;
      font-size: 10px;
    }
  }
}

@media (max-width: 450px) {
  .navbar {
    &__header {
      font-size: 0.8rem;
    }
    &__search {
      width: 130px;
      font-size: 7px;
      margin-left: 15px;
    }
  }
}

@media (max-width: 360px) {
  .navbar {
    &__header {
      font-size: 0.8rem;
    }
    &__search {
      width: 130px;
      font-size: 7px;
      margin-left: 15px;
    }
  }
}